/* default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
:root{
    --primary: #c8a97e;
    --secondary: #666666;
    --neutral: #666;
}

/* -------------------
topbar
------------------- */
/* #topbar{
    background: #666;
    display: flex;
    box-sizing: border-box;
    height: 27px;
    line-height: 23px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 1030;
    color: rgba(255, 255, 255, 0.6); 
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info a {
    line-height: 1;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    padding: 4px;
} */

/* -------------------------------------------
navbar 
--------------------------------------------*/
.navbar.myActive {
    background: var(--primary) !important;
    transition: all 0.5s;

}

.navbar{
    /* background: transparent !important; */
    margin-top: 25px !important;
    background: rgba(52, 58, 64, 0.2) !important;
    display: flex;
    transition: all 0.5s;
    z-index: 997;
    width: 100%;
    height: 59px;
    margin-top: 35px;
}

.nav-link{
    color: #fff;
}

.navbar-brand{
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.navbar-brand a{
    color: #fff;
}

#navbarSupportedContent > ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#navbarSupportedContent > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 10px;
    margin-left: 5px;
    transition: 0.3s;
}

#navbarSupportedContent a {
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

#navbarSupportedContent .active{
    color: #fff;
    background: #111;
    border-radius: 3px;
    padding: 5px 13px;
}

#navbarSupportedContent ul li a:hover{
    color: var(--primary);
    padding: 5px 13px;
    box-sizing: border-box;
    background: #111;
    padding: 5px 13px;
    border-radius: 3px;
}

@media (max-width: 992px) {
    .navbar{
      margin-top: 0px !important;
      margin-left: 5px;
      padding: 15px 0;
      background: rgba(52, 58, 64, 0.2) !important; 
    }
    .navbar-brand {
      font-size: 28px;
    }
    #navbarSupportedContent > ul > li{
        display: block;
        background:#c8a97e !important;
    }
}

/*-------------------------------
hero
------------------------------ */
.hero{
    height: 100vh;
    width: 100%;
    background:rgba(0, 0, 0, 0.5) url(assets/images/background/bg-1.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    background-blend-mode: overlay;
    margin-top: -58px;
    position: relative;
}
.hero .container {
    padding-top: 70px;
}
.hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}
.hero p {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
}
.hero .btn-get-started {
    text-decoration: none !important;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid var(--primary);
    color: #000;
    background: var(--primary);
}
.hero .btn-get-started:hover {
    background: #111;
    border-color: #111;
    color: var(--primary);
}
@media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
}
@media (max-width: 768px) {
    #hero {
      text-align: center;
    }
    #hero .container {
      padding-top: 40px;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
}