/* --===google fonts===-- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,300;1,300&display=swap");

/* default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
:root {
  --primary: #c8a97e;
  --secondary: #666666;
  --neutral: #666;
}

p {
  color: var(--secondary);
  text-align: justify;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  color: var(--primary) !important;
}

textarea {
  resize: none !important;
}

/*---------------------------------------------
banner
---------------------------------------------- */
.banner {
  height: 50vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url("./assets/images/background/bg-8.jpg")
    no-repeat;
  background-size: cover;
  background-position: top center;
  background-blend-mode: overlay;
}
.banner.banner-link {
  font-weight: 600;
}
.banner a {
  color: var(--primary);
}
.banner a:hover {
  color: inherit;
}

/* ------------------------
topbar
------------------------ */
#topbar {
  position: absolute;
  background: #444444;
  display: flex;
  box-sizing: border-box;
  height: 35px;
  line-height: 23px;
  font-size: 15px;
  transition: all 0.5s;
  z-index: 1030;
  font-weight: 600;
}

#topbar .contact-info a {
  line-height: 1;
  color: var(--primary);
  transition: 0.3s;
  padding-right: 10px;
}

#topbar .contact-info a:hover {
  color: #fff !important;
}

#topbar .contact-info i {
  color: #cc1616;
  padding-right: 2px;
}

#topbar .contact-info i.icofont-phone {
  margin-left: 15px;
}

#topbar .social-links a {
  color: var(--primary);
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}
#topbar .social-links a:hover {
  color: #fff;
}
#topbar .social-links a:first-child {
  border-left: 0;
}

/* -------------------------------------------
navbar 
--------------------------------------------*/
.navbar.myActive {
  background: #000 !important;
  transition: all 0.5s;
}

.navbar {
  /* background: transparent !important; */
  margin-top: 34px !important;
  background: rgba(52, 58, 64, 0.2) !important;
  display: flex;
  transition: all 0.5s;
  z-index: 997;
  width: 100%;
  height: 59px;
  position: relative;
  border-bottom: 2px solid var(--secondary);
}

.nav-link {
  color: #fff !important;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.8px;
  height: 55px;
}

.nav-link:hover {
  color: #fff !important;
}

.navbar-brand {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.navbar-toggler {
  cursor: pointer;
}

.navbar-brand a {
  color: #fff;
}

/*-------------------------------
hero
------------------------------ */
.hero {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url(./assets/images/background/bg-11.jpg)
    no-repeat;
  background-size: cover;
  background-position: top center;
  background-blend-mode: overlay;
  margin-top: -58px;
  position: relative;
}
.my-btn {
  background: var(--primary) !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.my-btn:hover {
  background: transparent !important;
  border: 1px solid var(--primary) !important;
  transition: all 0.3s;
  color: var(--primary) !important;
}

.hero .container {
  padding-top: 70px;
}

.hero-wrap h1 {
  letter-spacing: 0.8px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.hero-wrap p {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.7px;
}

/* ------------------------------------
About page
------------------------------------ */

.about-box {
  border: 2px solid var(--primary);
}


/* ---------------------------------
MENU page
-------------------------------- */

.column1 {
  float: left;
  display: none;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  background-color: white;
  padding: 0;
  /* padding-bottom: 0px; */
  /* position: relative; */
  /* margin: auto; */
  border: 5px solid #000;
}
.content img{
  height: 260px;
}
.show {
  display: block;
}
.btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: transparent !important;
  color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
}
.nature, .cars, .people {
  justify-content: center;
  align-items: center;
}

/* nature */
.nature .content {
	position: relative;
	overflow: hidden;
	max-height: 240px;
	max-width: 400px;
	background: #3085a3;
	text-align: center !important;
	cursor: pointer
}
.nature .content img {
  position: relative;
  display: block;
  opacity: .9;
}
.nature .content .tab-text {
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  /* -webkit-backface-visibility: hidden; */
  /* backface-visibility: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* cars */
.cars .content {
	position: relative;
	overflow: hidden;
	max-height: 240px;
	max-width: 350px;
	background: #3085a3;
	text-align: center;
	cursor: pointer
}
.cars .content img {
  position: relative;
  display: block;
  opacity: .9;
}
.cars .content .tab-text {
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* people */
.people .content {
	position: relative;
	overflow: hidden;
	max-height: 240px;
	max-width: 350px;
	background: #3085a3;
	text-align: center;
	cursor: pointer
}
.people .content img {
  position: relative;
  display: block;
  opacity: .9;
}
.people .content .tab-text {
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  font-size: 1.25rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content .tab-text::after,
.content .tab-text::before {
  position: absolute;
  content: "";
  opacity: 0;
}
.content .tab-text::before {
  top: 50px;
  right: 30px;
  bottom: 50px;
  left: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.content .tab-text::after {
  top: 30px;
  right: 50px;
  bottom: 30px;
  left: 50px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.content .icons-block {
  z-index: 1000;
  position: absolute;
  bottom: 14px;
  width: 100%;
  left: 0;
  text-align: center;
}
.content .icons-block .social-icon-1,
.content .icons-block .social-icon-2,
.content .icons-block .social-icon-3 {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.content:hover .social-icon-1 {
  opacity: 1;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}

.content:hover .social-icon-2 {
  opacity: 1;
  transition-delay: 0.4s;
  transition-duration: 0.5s;
}
.content:hover .social-icon-3 {
  opacity: 1;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

.content .icons-block i {
  color: #fff !important;
  padding-left: 10px;
  font-size: 1.3rem;
}

.content h4 {
  padding-top: 10%;
  /* -webkit-transition: -webkit-transform .35s; */
  transition: transform 0.35s;
  font-weight: 600;
  font-size: 1.7rem;
  font-family: Oswald, sans-serif;
}
.content p {
  padding: 0.5em 2.7em;
  /* text-transform: none; */
  opacity: 0;
  /* -webkit-transform: translate3d(0, -10px, 0); */
  transform: translate3d(0, -10px, 0);
  font-size: 0.92rem;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.content h4,
.content img {
  /* -webkit-transform: translate3d(0, -30px, 0); */
  transform: translate3d(0, -30px, 0);
}
.content .tab-text::after,
.content .tab-text::before,
.content img,
.content p {
  /* -webkit-transition: opacity .35s, -webkit-transform .35s; */
  transition: opacity 0.35s, transform 0.35s;
}
.content:hover img {
  opacity: 0.8.4;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0) scale(1.1, 1.1);
}
.content:hover .tab-text::after,
.content:hover .tab-text::before {
  opacity: 1;
  /* -webkit-transform: scale(1); */
  transform: scale(1);
}
.content:hover h4,
.content:hover p {
  opacity: 1;
  /* -webkit-transform: translate3d(0, 0, 0); */
  transform: translate3d(0, 0, 0);
}
.content:hover .tab-text::after,
.content:hover h4,
.content:hover img,
.content:hover p {
  /* -webkit-transition-delay: .15s; */
  transition-delay: 0.15s;
}

.tab-text h4 {
  color: #fff !important;
  margin: 0;
  font-size: 1.5rem;
}

.tab-text p {
  color: #fff;
  margin: 0;
  font-size: 1rem;
}

/* --------------------------------
Experts
--------------------------------- */
.team-area {
  padding-top: 0% !important;
}

.single-team {
  margin-bottom: 10px;
}

.single-team:hover {
  background: #fff;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.single-team:hover .social {
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}

.img-area {
  overflow: hidden;
  position: relative !important;
}

.img-area img {
  width: 100%;
  height: 400px;
}

.img-area:hover img {
  transform: scale(1.2);
}

.img-area img {
  transition: all 0.4s ease 0s;
}

.img-area .social {
  background: rgba(0, 0, 0, 0.7);
  position: absolute !important;
  text-align: center !important;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  transform: rotateY(180deg) scale(0.5, 0.5);
}

.img-area .social ul {
  text-align: center !important;
  position: relative !important;
  top: 175px;
  display: flex;
  justify-content: center;
}

.img-area .social ul li a {
  border: 1px solid #fff;
  color: #fff;
  display: block !important;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center !important;
}

.img-area .social ul li {
  padding-left: 5px !important;
}

.img-area .social ul li a:hover {
  /* background: #fff;
  color: #000 !important;
  border: 1px solid transparent; */
  background: #000;
  color: var(--primary) !important;
  border: 1px solid var(--primary);
}
.img-text {
  padding: 20px;
  text-align: center !important;
}
.img-text h4 {
  font-size: 19px;
  color: var(--primary);
  letter-spacing: 0.9px;
  font-weight: 600;
}
.img-text h5 {
  font-size: 15px;
  padding-top: 8px;
  text-transform: uppercase !important;
}

/* ---------------------------------
order
---------------------------------- */
.form-wrapper {
  background: var(--primary);
  max-width: 560px;
  padding: 25px 0;
}

.form-wrapper form {
  width: 90%;
}

/* -----------------------------------
contact
---------------------------------- */
.icon-wrap {
  background: var(--primary);
  height: 40px;
  width: 40px;
  color: #fff;
}

.icon-wrap span {
  font-weight: 500;
}

/* -------------------------
service page
----------------------- */
.s-wrapper {
  border: 2px dotted var(--primary);
  padding: 10px;
}

.s-wrapper .s-icon {
  height: 70px;
  width: 70px;
  margin: 10px 0;
  color: var(--primary);
}

.s-wrapper h3 {
  font-size: 23px;
  font-weight: 600;
}

.s-wrapper:hover {
  background: var(--primary);
  color: #fff;
  transition: all 0.3s;
}

.s-wrapper:hover .s-icon,
.s-wrapper:hover p {
  color: #fff;
}

/* --------------------------------
footer
-------------------------------- */
footer a {
  color: #fff !important;
}
footer a:hover {
  color: var(--primary) !important;
}

/* ---------------------------------
MEDIA QUERRY
-----------------------------------*/

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  /* Hero */
  .hero-wrap h1 {
    font-size: 37px;
  }

  /* Nav-bar */
  .navbar {
    text-align: center !important;
    margin-top: -1px !important;
    margin-left: 0px;
    padding: 15px 0;
    background: #000 !important;
  }

  .navbar-brand {
    font-size: 28px;
    padding-left: 10px;
  }

  /* Nav-link */
  .nav-link:hover,
  .nav-link.active {
    color: var(--primary);
  }

  .nav-link {
    background: #000;
    width: 100%;
  }

  /* expert */
  .img-area img {
    display: inline-block;
  }
}

@media (min-width: 769px) {
  .nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    display: block;
    background: var(--primary);
    margin-top: 1px;
    transition: all 0.3s;
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    width: 100%;
    transition: all 0.3s;
    color: #fff !important;
  }
}
